$black: #4c5869;
$grey: lighten(#4c5869, 15%);
$light-grey: lighten(#4c5869, 55%);
$blue: #4a90e2;
$green: #54d2b6;
$off-black: #565157;
$off-white: #f9fafb;
$red: #f14965;
$white: #ffffff;
$yellow: #ffc700;

// Main colors
$primary-color: $blue;
$secondary-color: $green;
$tertiary-color: $red;


