<section class="pfblock pfblock-gray" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">About Me</h2>
          <div class="pfblock-line"></div>
          <div class="pfblock-list">
            <p>My desire to learn to build something useful led me to pursing a Mechanical Engineering degree from the University of Illinois, a top 5 engineering university. I had some extra room in my schedule during my last semester and I decided to take some CS courses and got hooked. I learned about data structures, used C++, and created some really fun programs. That led to taking a technical services role at a software company (Epic) to explore the field a little more.</p>
            <p>Learning more about the potential of software, I enrolled in Bloc.io's online program to dive into web development and create professional projects with guidance from an experienced software developer. Read a summary of my experience <a href="http://damiendev.tumblr.com/post/137691171625/blocio-experience">here</a>.</p>
            <p>I cringe at disorganized and repetitive code and I enjoy working on code challenges. If you have a problem you want me to solve or code you want refactored, let's talk about it.</p>
            <p>If you have any questions or would just like to get in touch, you can use the form below or email me directly at <a href="mailto:fong.fan.90@gmail.com">fong.fan.90@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


