<section class="calltoaction">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-12">
        <h2 class="wow slideInRight" data-wow-delay=".1s">LET'S BUILD SOMETHING BEAUTIFUL TOGETHER</h2>
        <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
          I'm available for full-time opportunities and freelance projects.
        </div>
      </div>

      <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
        <a href="#contact" class="btn btn-lg">Hire Me</a>
      </div>

    </div><!-- End Row -->
  </div><!-- End Container -->
</section>
