<section id="contact" class="pfblock">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header">
          <h2 class="pfblock-title">Let's Get In Touch</h2>
          <div class="pfblock-line"></div>
          <div class="pfblock-subtitle">
            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">
        <form action="https://getsimpleform.com/messages?form_api_token=fe13660e97d1156e26c4e4ef56b69bd2" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='http://portfolio.damienfan.com/thank_you.html' />
          <!-- all your input fields here.... -->
          <div class="ajax-hidden">
            <div class="form-group wow fadeInUp">
              <label class="sr-only" for="c_name">Your Name</label>
              <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
              <label class="sr-only" for="c_email">Your Email</label>
              <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
              <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
            </div>

            <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
          </div>
          <div class="ajax-response"></div>
        </form>
      </div>

    </div>
  </div>
</section>

