<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="social-links">
          <li><a href="mailto:fong.fan.90@gmail.com" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://linkedin.com/in/fongfan" class="wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/voltaaage" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/fongvoltfan" class="wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/fongvoltfan" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <p class="copyright">
        © 2015 Fong Fan | Images: <a href="https://unsplash.com/">Unsplash</a>
        </p>

      </div>
    </div>
  </div>
</footer>

