<section id="home" class="pfblock-image screen-height">
  <div class="home-overlay"></div>
  <div class="intro">
    <div class="start">Hello, my name is Damien Fan and I am</div>
    <h1>Web Developer</h1>
    <div class="start">Ruby on Rails Specialist</div>
    <div class="start">JavaScript Enthusiast</div>
  </div>

  <a href="#about">
    <div class="scroll-down">
      <span>
        <i class="fa fa-angle-down fa-2x"></i>
      </span>
    </div>
  </a>
</section>
