<section class="pfblock pfblock-gray" id="skills">
  <div class="container">
    <div class="row skills">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="pfblock-header wow fadeInUp">
            <h2 class="pfblock-title">My Skills</h2>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">
              I specialize in Rails Web Development and backend data structures and algorithms. I am also comfortable working with HTML, CSS, and JavaScript. My experience as a Technical Services Engineer demonstrated my ability to solve complex hospital EMR problems and taught me that I have the grit and capacity to learn to solve any problem.
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-3 text-center">
        <span data-percent="80" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
          <span class="percent">85</span>
        </span>
        <h3 class="text-center">Ruby on Rails</h3>
      </div>

      <div class="col-sm-6 col-md-3 text-center">
        <span data-percent="90" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
          <span class="percent">80</span>
        </span>
        <h3 class="text-center">Design</h3>
      </div>

      <div class="col-sm-6 col-md-3 text-center">
        <span data-percent="95" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
          <span class="percent">90</span>
        </span>
        <h3 class="text-center">Problem Solving</h3>
      </div>

      <div class="col-sm-6 col-md-3 text-center">
        <span data-percent="60" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
          <span class="percent">80</span>
        </span>
        <h3 class="text-center">Front-End</h3>
      </div>

    </div>
  </div>
</section>

