<div class='home'>
  <div class='background' style="">

    <div class='footer'>

      <div class='name'>
        <div class='avatar'>
          <%= image_tag "casual.jpg" %>
        </div>
        <h1>Fong Fan</h1>
      </div>

      <hr />

      <div class='footer__lowerRow'>
        <h2>Software Engineer</h2>
        <ul class='socialMedia'>
          <li><button id='about'>About</button></li>
          <li><button id='resume'>Resume</button></li>
          <li><a href='https://github.com/voltaaage'>
            <i class='fa fa-github' aria-hidden="true"></i>
            <span> GitHub</span>
          </a></li>
          <li><a href='https://twitter.com/fongvoltfan'>
            <i class='fa fa-twitter' aria-hidden="true"></i>
            <span> Twitter</span>
          </a></li>
          <li><a href='https://www.linkedin.com/in/fongfan'>
            <i class='fa fa-linkedin' aria-hidden="true"></i>
            <span> LinkedIn</span>
          </a></li>
          <li><a href='http://damiendev.tumblr.com'>
            <i class='fa fa-rss' aria-hidden="true"></i>
            <span> Blog</span>
          </a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

